.logout{
    justify-items: center;
    background-color: royalblue;
    color: white;
    width: 100px;
    height: 50px;
}
.containerImages{
    background-color: #272727;
    width: 100%;
    padding-top: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.option{

    width: 120px;
    height: 100%;
    justify-items: center;
    color: black;

    &:hover{
        background-color: rgb(206, 56, 56);
        .iconHome{
            filter: invert(100%) brightness(1.5) sepia(70%) saturate(200%);
        }
        color: white;
        transition: 200ms;
    }
}